# file/folder yang tidak perlu ikut saat distribusi
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/phpunit.xml.dist export-ignore
/.phpunit.cache export-ignore
/coverage export-ignore